.infinite-slider-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  margin-top: 40px;
}

.slider {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.slider-track {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

.slider.to-left .slider-track {
  animation-name: scroll-right;
}

.slider.to-right .slider-track {
  animation-name: scroll-left;
}

.slider-item {
  display: inline-block;
  margin: 0 1.5rem;
  font-size: 2rem;
}

.text-slide {
  font-weight: bold;
}

.slider img {
  height: 400px;
  width: 700px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
}

/* Animation vers la gauche */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animation vers la droite */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* === RESPONSIVE : MOBILE === */
@media (max-width: 768px) {
  .slider-item {
    margin: 0 1rem;
    font-size: 1.2rem;
  }

  .slider img {
    height: 200px;
    width: 300px;
  }

  .text-slide span.text-5xl {
    font-size: 1.5rem; /* réduit la taille du texte glissant */
  }

  .text-slide .w-6.h-6 {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.75rem;
  }
}


