.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -3px 8px rgb(182, 181, 181);
  color: white;
  display: none; /* visible seulement sur mobile */
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: rgb(100, 99, 99);
  gap: 4px;
}

.nav-item:hover {
  color: #00d1ff;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
}