.wrap {
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: fit-content;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-bottom: 20px;
}

.quote h1 {
  margin: 0;
  padding: 0;
  max-width: 500px;
  word-wrap: break-word;
  color: black;
}


/*mediaQueries*/

@media (max-width: 768px) {
    .wrap {
        width: 90%;
        
    }
  .quote {
        text-align: center;
   }
}